
.myCarousel{
    background-color: indianred;
    
}

carousel-inner {    
    animation: ease-out;
}
carousel-caption {
    position:relative;
    
    font-size: 2rem !important;
    /* default fallback */
    background: rgb(255, 255, 255) transparent;
    /* nice browsers */
    background: rgba(255, 255, 255, 0.8);
    /* IE 6/7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)";
}
.sliderImg{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}


@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

@media screen and (min-width: 992px) {
    .carousel-item {
        height: 500px !important;
    }
}
