html{
    font-size:16px;
}
.circle {
    padding: 13px 20px;
    border-radius: 50%;
    background-color: #808080;
    color: #fff;
    max-height: 50px;
    z-index: 2;
}

.how-it-works.row .col-2 {
    align-self: stretch;
}
.how-it-works.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid #dcdcdc;
    z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
}
.how-it-works.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
}


.timeline div {
    padding: 0;
    height: 40px;
}
.timeline hr {
    border-top: 3px solid #dcdcdc;
    margin: 0;
    top: 17px;
    position: relative;
}
.timeline .col-2 {
    display: flex;
    overflow: hidden;
}
.timeline .corner {
    border: 3px solid #dcdcdc;
    width: 100%;
    position: relative;
    border-radius: 15px;
}
.timeline .top-right {
    left: 50%;
    top: -50%;
}
.timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
}
.timeline .top-left {
    left: -50%;
    top: -50%;
}
.timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
}
.scroll-top {
    width: 75px;
    height: 75px;
    position: fixed;
    bottom: 25px;
    left: 20px;
    z-index: 777;
}

.scroll-top i {
    display: inline-block;
    color: #FFFFFF;
}

/******************* Accordion Demo - 9 *****************/
#accordion9 .panel{
    border-radius:0;
    margin-bottom:15px;
}
#accordion9 .panel-heading{
    padding:0;
}
#accordion9 .panel-title{
    position: relative;
}
    #accordion9 .panel-title:before {
        content: "\00a0";
        border-bottom: 25px solid rgba(0, 0, 0, 0);
        border-left: 15px solid #ccc;
        border-top: 23px solid rgba(0, 0, 0, 0);
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 34px;
    }
#accordion9 .panel-title a{
    color:#fff;
    background:#808080;
    display: block;
    font-size: 16px;
    line-height: 21px;
    font-weight:500;
    text-transform: uppercase;
    padding: 13px 10px 13px 65px;
}
#accordion9 .panel-title a.collapsed{
    color:#5b5656;
    background:#fff;
}
#accordion9 .panel-title a:before,
#accordion9 .panel-title a.collapsed:before{
    content: '';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top:0;
    left:0px;
    padding:14px 10px;
    color: #808080;
    background:#ccc;
}
#accordion9 .panel-title a.collapsed:before{
    content: "";
}
#accordion9 .panel-body{
    color: #828282;
    font-size: 1.2rem;
    line-height: 26px;
}
.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}

.workdone {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

@media screen and (max-width: 500px) {
    .carousel-item {
        height: auto !important;
    }
}


